/* Pra zerar todas as margens e paddings */
* {
  margin: 0;
	padding: 0;
}

/* configurando o HTML ao todo */
html, body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #e7e6e4;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#243B2E;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  color:#243B2E;
  background-color:#a4aaa7;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown-content a:hover {
  background-color:#cdd8d3;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 500px) {
  .menu a {
    float: none;
    display: block;
  }
}

/*SEGUNDA TELA: TIB*/
#TIBcadastro {
  margin-left: 20px;
  margin-right: 20px;
}

#pesquisa {
  padding: 10px;
  font-size: 12px;
  border-radius: 5px;
  border-color: #243B2E;
  width: 300px;

  padding: 14px 28px;
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
}
/* --------- TIB ----------- */

#TIBcadastro h2 {
  font-size: 30px;
  color:#0d1407;
}

#TIBcadastro p {
  font-size: 20px;
  margin-bottom: 3px;
}

/*TIB: botões tabela*/
.btn {
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 12px;
  margin-bottom: 5px;
  text-decoration: none;
}

.filtro {
  border-color:#243B2E;
  color:#243B2E;
}

.filtro:hover {
  background:#243B2E;
  color: white;
}

.button {
  border-radius: 5px;
  border-color: #243B2E;
  background-color: #243B2E;
  text-decoration: none;
  color: white;
  padding: 14px 28px;
  font-size: 10px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.button:hover {
  background: #425349;
  color: white;
}

.botaoAncora{
  border-radius: 5px;
  border-color: #243B2E;
  background-color: #243B2E;
  text-decoration: none;
  color: white;
  padding: 14px 28px;
  font-size: 10px;
  margin-right: 3px;
}

.botaoAncora:hover {
  background: #424e48;
  color: white;
}
/*TIB: botões tabela*/

/*TIB: tabela*/
#tabelinha {
  border-collapse: collapse;
  width: 100%;
}

#tabelinha td, #tabelinha th {
  border: 1px solid #f5efe7;
  padding: 8px;
}

#tabelinha tr:nth-child(even) {
  background-color: #47755b;
}

#tabelinha tr:hover {
  background-color: #a0b8aa;
}

#tabelinha th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2a503b;
  color: white;
}
/*TIB: tabela*/

/*-------- FORMULARIOS --------*/
#inscricoes {
  margin-left: 20px;
  margin-right: 20px;
}

#inscricoes h1 {
  font-size: 30px;
  color:#122005;
}

#nome, #curso {
  border-radius: 5px;
  border-color: #243B2E;
}

#nomeLabel, #cursoLabel {
  font-size: 18px;
  font-weight: bold;
  color:#243B2E;
}

#SelecionarCursos {
  border-radius: 5px;
  border-color: #243B2E;
  font-size: 16px;
}

#SelecionarCursos option:checked {
  background-color:#46755a;
}

#DivComites {
  margin-top: 20px;
  margin-bottom: 20px;
}

#DivComites h3 {
  color:#122005;
}

#CDH, #CSNU, #PNUMA, #OEA {
  margin-left: 6px;
  font-size: 16px;
  color:#122005
}
#justificativaLabel {
  font-size: 14px;
  font-weight: bold;
  color:#000000
}

#deleg {
  border-radius: 5px;
  border: none;
  background-color: #6c917b;
  font-size: 14px;
  color: 0;;
  margin-top: 5px;
}

.finalizarCad {
  border-radius: 5px;
  background-color: #243B2E;
  text-decoration: none;
  color: white;
  padding: 14px 28px;
  font-size: 14px;
  margin-bottom: 5px;
}

.finalizarCad:hover {
  background: #59615c;
  color: white;
}

#CadastroFeito {
  margin-left: 20px;
  margin-right: 20px;
}

#CadastroFeito h1, hr {
  text-align: center;
  font-size: 30px;
  color:#122005;
  margin-bottom: 15px;
}

#CadastroFeito p {
  font-size: 20px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

#VoltarTIB {
  font-size: 17px;
}

footer{
  position:sticky;
  transition: bottom 0.2s ease-in;
  background:#243B2E;
  height: auto;
  width: 100vw;
  color: #fff;
  margin-top:1000px;
}
.nav-down {
  bottom: -40px;
}
.footer-content h3{
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}
.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}
.socials a:hover i {
  color:#D8742D;
}
.footer-menu {
  float: right;
}
.footer-menu ul {
  display: flex;
}
.footer-menu ul li{
  padding-right: 10px;
  display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover {color:#D8742D;}
@media (max-width:500px) {
  .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
  }
}
